@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900");
@import "tailwindcss";
@tailwind utilities;


:root {
  /* スクリーンショットに近いベージュを定義 */
  --background: #F0EBE3;
  --foreground: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "reitam", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0;
  ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
  
}
@layer base {
  :root {
    --font-reitam: 'reitam';
  }

  @font-face {
    font-family: 'reitam';
    src: url('/fonts/Reitam Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: var(--font-reitam), "Yu Gothic", "Meiryo", sans-serif;
    background-color: #F2F1ED;
  }
}